# upstream.j2 (part of provision.sh.j2)

# add upstream Ceph package signing key
wget -q -O- 'https://download.ceph.com/keys/release.asc' | sudo apt-key add -

# add upstream release repo
# (to be replaced by "cephadm add-repo", below, when
# https://tracker.ceph.com/issues/45009 is fixed)
{% if os == 'ubuntu-bionic' %}
{% set codename = 'bionic' %}
{% else %}
echo "BADNESS: UNSUPPORTED OS {os}. Bailing out!"
exit 0
{% endif %} {# os == 'ubuntu-bionic' #}
apt-add-repository 'deb https://download.ceph.com/debian-{{ version }}/ {{ codename }} main'

# download cephadm source code
curl --silent --remote-name --location https://github.com/ceph/ceph/raw/{{ version }}/src/cephadm/cephadm
chmod +x cephadm

# add upstream release repo and install "the real cephadm" from it
# ./cephadm add-repo --release {{ version }}  # broken: see https://tracker.ceph.com/issues/45009

# add Kubic project repos for podman
source /etc/os-release
echo "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /" | tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list
curl --silent -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | apt-key add -

# update apt cache
apt-get update
apt-cache policy

# install podman
apt-get -y install podman

# install cephadm DEB package
./cephadm install
which cephadm
rm -f ./cephadm

cephadm install ceph-common
cephadm install rbd-nbd
