{% include "engine/" + vm_engine + "/vagrant.provision.sh.j2" ignore missing %}

set -ex

ls -lR /home/vagrant

# remove the first line introduced by vagrant
head -1 /etc/hosts | grep -q '127.*' && sed -i '1d' /etc/hosts

{% for _node in nodes %}

# remove "which" RPM because testing environments typically don't have it installed
zypper -n rm which || true

# remove Python 2 so it doesn't pollute the environment
{% if os == 'leap-15.1' or os == 'leap-15.2' or os == 'sles-15-sp1' or os == 'sles-15-sp2' %}
zypper -n rm python-base || true
{% endif %}

{% if _node.public_address %}
echo "{{ _node.public_address }} {{ _node.fqdn }} {{ _node.name }}" >> /etc/hosts
{% endif %}
{% endfor %}

sed -i 's/^rpm\.install\.excludedocs.*$/# rpm.install.excludedocs = no/' /etc/zypp/zypp.conf

{% for os_repo_name, os_repo_url in os_base_repos %}
zypper addrepo {{ os_repo_url }} {{ os_repo_name }}
{% endfor %}

{% for _repo in version_repos_prio %}
zypper addrepo
{%- if _repo.priority %}
 --priority {{ _repo.priority }}
{%- elif repo_priority %}
 --priority 98
{%- endif %}
 {{ _repo.url }} {{ version }}-repo{{ loop.index }}
{% endfor %}

{% if os.startswith("sle") %}
zypper addrepo --refresh
{%- if version == 'ses7' %}
 http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP2/SUSE:CA.repo
{%- elif version == 'ses6' or version == 'caasp4' %}
 http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/SUSE:CA.repo
{%- elif version == 'ses5' %}
 http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/SUSE:CA.repo
{% endif %}
{% endif %}

zypper --gpg-auto-import-keys ref

{% set basic_pkgs_to_install = [
       'vim',
       'git-core',
       'iputils',
       'jq',
       'make',
       'iptables',
       'patch',
       'man',
       'command-not-found',
   ] %}
{% if version == 'ses5' %}
zypper -n install {{ basic_pkgs_to_install | join(' ') }}
{% else %}
zypper -n install {{ basic_pkgs_to_install | join(' ') }} hostname
{% endif %}

{% if os.startswith("sle") %}
{% set sle_pkgs_to_install = [
       'ca-certificates-suse',
       'supportutils',
       'supportutils-plugin-ses',
   ] %}
zypper -n install {{ sle_pkgs_to_install | join(' ') }}
{% endif %}

{% for repo in node.repos %}
zypper ar {{ repo.url }} {{ repo.name }}
{% if repo_priority and repo.priority %}
zypper mr -p {{ repo.priority }} {{ repo.name }}
{% endif %}
{% endfor %}
{% if node.repos|length > 0 %}
zypper --gpg-auto-import-keys ref
{% endif %}

cat /home/vagrant/.ssh/id_rsa.pub >> /home/vagrant/.ssh/authorized_keys
[ ! -e "/root/.ssh" ] && mkdir /root/.ssh
chmod 600 /home/vagrant/.ssh/id_rsa
cp /home/vagrant/.ssh/id_rsa* /root/.ssh/
cat /root/.ssh/id_rsa.pub >> /root/.ssh/authorized_keys
hostnamectl set-hostname {{ node.name }}

{% if version == 'caasp4' %}
{% include "caasp/provision.sh.j2" %}
{% else %}

{% if not suma %}
zypper -n install salt-minion
sed -i -e 's/^#master:.*/master: {{ master.name }}/g' /etc/salt/minion
{% if version == 'octopus' or version == 'ses7' %}
#
# FIXME: work around bsc#1167218 - remove this if block once that bug is resolved
#
sed -i -e 's/^Type=notify/#Type=notify/' /usr/lib/systemd/system/salt-minion.service
sed -i -e 's/^NotifyAccess=all/#NotifyAccess=all/' /usr/lib/systemd/system/salt-minion.service
{% endif %}

# change salt log level to info
sed -i 's/^#log_level: warning/log_level: info/g' /etc/salt/minion

systemctl enable salt-minion
systemctl start salt-minion
{% endif %}

{% if version == 'ses5' %}
zypper -n rm ntp || true
{% endif %}

touch /tmp/ready

{% if node == master or node == suma %}
{% if node == master %}
zypper -n install salt-master
sed -i 's/^#log_level: warning/log_level: info/g' /etc/salt/master
systemctl enable salt-master
systemctl start salt-master
sleep 5
systemctl restart salt-minion
{% endif %}

while : ; do
  PROVISIONED_NODES=`ls -l /tmp/ready-* 2>/dev/null | wc -l`
  echo "waiting for nodes (${PROVISIONED_NODES}/{{ nodes|length }})";
  [[ "${PROVISIONED_NODES}" != "{{ nodes|length }}" ]] || break
  sleep 2;
{% for node in nodes %}
  scp -o StrictHostKeyChecking=no {{ node.name }}:/tmp/ready /tmp/ready-{{ node.name }};
{% endfor %}
done

{% if node == master %}
while true; do
  sleep 1
  salt-key -L
  N=`salt-key --out=json -L | jq '.minions_pre | length'`
  [ "$N" == "{{ nodes|length }}" ] && break
done
salt-key -Ay

# make sure all minions are responding
set +ex
LOOP_COUNT="0"
while true ; do
  set -x
  sleep 5
  set +x
  if [ "$LOOP_COUNT" -ge "20" ] ; then
    echo "ERROR: minion(s) not responding to ping?"
    exit 1
  fi
  LOOP_COUNT="$((LOOP_COUNT + 1))"
  set -x
  MINIONS_RESPONDING="$(salt '*' test.ping | grep True | wc --lines)"
  if [ "$MINIONS_RESPONDING" = "{{ nodes|length }}" ]; then
    break
  fi
  set +x
done
set -ex

{% if deployment_tool == "deepsea" %}
{% include "deepsea/deepsea_deployment.sh.j2" %}
{% endif %}
{% endif %}

{% if node == suma %}
{% include "suma/suma_deployment.sh.j2" %}
{% endif %}

{% if node == master and deployment_tool == "cephadm" %}
{% include "ceph-salt/ceph_salt_deployment.sh.j2" %}
{% endif %}

{% endif %} {# node == master or node == suma #}

{% endif %} {# version != caasp4 #}
