
{% set qa_test_script = "/home/vagrant/qa-test.sh" %}
{%- set qa_test_cmd = "/home/vagrant/sesdev-qa/health-ok.sh"
    ~ " --total-nodes=" ~ nodes|length
    ~ " --nfs-nodes=" ~ nfs_nodes
    ~ " --igw-nodes=" ~ igw_nodes
    ~ " --mds-nodes=" ~ mds_nodes
    ~ " --mgr-nodes=" ~ mgr_nodes
    ~ " --mon-nodes=" ~ mon_nodes
    ~ " --osd-nodes=" ~ storage_nodes
    ~ " --rgw-nodes=" ~ rgw_nodes
    ~ " --node-list=" ~ node_list
    ~ " --nfs-node-list=" ~ nfs_node_list
    ~ " --igw-node-list=" ~ igw_node_list
    ~ " --mds-node-list=" ~ mds_node_list
    ~ " --mgr-node-list=" ~ mgr_node_list
    ~ " --mon-node-list=" ~ mon_node_list
    ~ " --osd-node-list=" ~ storage_node_list
    ~ " --rgw-node-list=" ~ rgw_node_list
    ~ " --osds=" ~ total_osds
-%}
{% if filestore_osds %}
{% set qa_test_cmd = qa_test_cmd ~ " --filestore-osds" %}
{% endif %}

cat > {{ qa_test_script }} << EOF
#!/bin/bash
set -x
if [[ $(hostname) == master* ]] ; then
    {{ qa_test_cmd }}
fi
EOF
chmod 755 {{ qa_test_script }}

{% if qa_test is sameas true %}
{{ qa_test_cmd }}
{% endif %}
