# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.require_version "> 2.2.2"

Vagrant.configure("2") do |config|
  config.ssh.insert_key = false
  config.vm.box = "{{ vagrant_box }}"

{% include "engine/" + vm_engine + "/vagrant.provider.j2" %}

{% for node in nodes %}
  config.vm.define :"{{ node.name }}" do |node|

{% include "engine/" + vm_engine + "/vagrant.node.j2" %}

    node.vm.provision "file", source: "keys/{{ ssh_key_name }}",
                              destination:".ssh/{{ ssh_key_name }}"
    node.vm.provision "file", source: "keys/{{ ssh_key_name }}.pub",
                              destination:".ssh/{{ ssh_key_name }}.pub"
{% if node == master %}

    node.vm.provision "file", source: "bin/", destination: "/home/vagrant/"
    node.vm.provision "file", source: "{{ sesdev_path_to_qa }}", destination: "/home/vagrant/sesdev-qa"
{% endif %}

    node.vm.synced_folder ".", "/vagrant", disabled: true
{% if node == master %}

{% for folder_conf in synced_folders %}
    node.vm.synced_folder "{{ folder_conf[0] }}", "{{ folder_conf[1] }}"
{% endfor %}
{% endif %}

    node.vm.provision "shell", path: "provision_{{ node.name }}.sh"
{% if node == master %}

    node.vm.provision "qa-test", type: "shell", run: "never" do |s|
      s.inline = "/home/vagrant/qa-test.sh"
    end
{% endif %}

    node.vm.provision "add-devel-repo", type: "shell", run: "never" do |s|
      s.inline = "/home/vagrant/add-devel-repo.sh"
    end

    node.vm.provision "add-devel-repo-and-update", type: "shell", run: "never" do |s|
      s.inline = "/home/vagrant/add-devel-repo.sh --update"
    end
  end
{% endfor %}

end
