# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.ssh.insert_key = false
  config.vm.box = "{{ vagrant_box }}"

{% include "engine/" + vm_engine + "/vagrant.provider.j2" %}


{% for node in nodes %}
  config.vm.define :"{{ node.name }}" do |node|

{% include "engine/" + vm_engine + "/vagrant.node.j2" %}

    node.vm.provision "file", source: "keys/id_rsa",
                              destination:".ssh/id_rsa"
    node.vm.provision "file", source: "keys/id_rsa.pub",
                              destination:".ssh/id_rsa.pub"

{% if node == admin %}
    node.vm.provision "file", source: "bin/", destination: "/home/vagrant/"
    node.vm.provision "file", source: "{{ sesdev_path_to_qa }}", destination: "/home/vagrant/sesdev-qa"
{% endif %}

    node.vm.synced_folder ".", "/vagrant", disabled: true

    node.vm.provision "shell", path: "provision_{{ node.name }}.sh"
  end

{% endfor %}

  config.vm.provision "qa-test", type: "shell", run: "never" do |s|
    s.inline = "/home/vagrant/qa-test.sh"
  end
end
