
# make sure all minions are responding
set +ex
LOOP_COUNT="0"
while true ; do
  if [ "$LOOP_COUNT" -ge "30" ] ; then
    echo "ERROR: minion(s) not responding to ping?"
    exit 1
  fi
  LOOP_COUNT="$((LOOP_COUNT + 1))"
  echo "Pinging {{ nodes | length }} minions..."
  MINIONS_RESPONDING="$(salt '*' test.ping 2> /dev/null | grep --count True)"
  echo "${MINIONS_RESPONDING} of {{ nodes | length }} minions responded to ping."
  [ "$MINIONS_RESPONDING" = "{{ nodes|length }}" ] && break
  set -x
  sleep 3
  set +x
done
set -ex
