# zypper.j2 (part of provision.sh.j2)

# do not exclude documentation files when installing RPM packages
sed -i 's/^rpm\.install\.excludedocs.*$/# rpm.install.excludedocs = no/' /etc/zypp/zypp.conf

# do not ignore "Recommends" and "Supplements" when resolving dependencies of RPM packages
sed -i 's/^solver\.onlyRequires.*$/# solver.onlyRequires = false/' /etc/zypp/zypp.conf

# enable autorefresh on all zypper repos
find /etc/zypp/repos.d -type f -exec sed -i -e 's/^autorefresh=.*/autorefresh=1/' {} \;

# remove RPMs that are often silently assumed to be present
# removing such RPMs is desirable because these "implied" dependencies become
# known, allowing them to be explicitly declared
{% if version != 'ses5' %}
zypper --non-interactive remove curl || true
{% endif %}{# version != 'ses5' #}
zypper --non-interactive remove rsync || true
zypper --non-interactive remove which || true

# remove Python 2 so it doesn't pollute the environment
{% if os != 'sles-12-sp3' %}
zypper --non-interactive remove python-base || true
{% endif %}{# os != 'sles-12-sp3' #}

# remove Non-OSS repos in openSUSE
{% if os.startswith('leap') or os == "tumbleweed" %}
zypper --non-interactive removerepo repo-non-oss || true
zypper --non-interactive removerepo repo-update-non-oss || true
zypper --non-interactive removerepo repo-debug-non-oss || true
zypper --non-interactive removerepo repo-debug-update-non-oss || true
zypper --non-interactive removerepo repo-source-non-oss || true
{% endif %}{# os.startswith('leap') or os == "tumbleweed" #}

# base repos
{% for os_repo_name, os_repo_url in os_base_repos %}
zypper addrepo --refresh {{ os_repo_url }} {{ os_repo_name }}
{% endfor %}

# make check repos
{% if version == 'makecheck' %}
{% for os_repo_name, os_repo_url in os_makecheck_repos %}
zypper addrepo --refresh {{ os_repo_url }} {{ os_repo_name }}
{% endfor %}
{% endif %}{# version == 'makecheck' #}

# devel repos
{% set devel_repo_script = "/home/vagrant/add-devel-repo.sh" %}
cat > {{ devel_repo_script }} << 'EOF'
#!/bin/bash
[[ "$*" =~ "--update" ]] && UPDATE="yes"
set -x
{% set devel_repo_count = version_devel_repos|length %}
{% for _repo in version_devel_repos %}
{% set devel_repo_name = "devel-repo-" ~ loop.index %}
zypper addrepo --refresh
{%- if _repo.priority %}
 --priority {{ _repo.priority }}
{%- endif %}
 {{ _repo.url }} {{ devel_repo_name }}
{% endfor %}
zypper --gpg-auto-import-keys refresh
if [ "$UPDATE" ] ; then
    zypper dist-upgrade \
        --allow-vendor-change \
        --auto-agree-with-licenses \
{% for r in range(1, devel_repo_count + 1) %}
{% set devel_repo_name = "devel-repo-" ~ r %}
        --from={{ devel_repo_name }} \
{% endfor %}
        --no-confirm
fi
EOF
chmod 755 {{ devel_repo_script }}
cat {{ devel_repo_script }}

{% if devel_repo or not core_version %}
if bash -e "{{ devel_repo_script }}" ; then
    true
else
    echo "{{ devel_repo_script }} failed! Bailing out."
    false
fi
{% endif %}{# devel_repo or not core_version #}

# custom repos
{% for _repo in node.custom_repos %}
zypper addrepo --no-gpgcheck --refresh
{%- if _repo.priority %}
 --priority={{ _repo.priority }}
{%- endif %}
 {{ _repo.url }} {{ _repo.name }}
{% endfor %}

# SUSE:CA repo on SLE
{% if os.startswith("sle") %}
zypper addrepo --refresh
{%- if os == 'sles-15-sp2' %}
 http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP2/SUSE:CA.repo
{%- elif os == 'sles-15-sp1' %}
 http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/SUSE:CA.repo
{%- elif os == 'sles-12-sp3' %}
 http://download.suse.de/ibs/SUSE:/CA/SLE_12_SP3/SUSE:CA.repo
{% endif %}
{% endif %}{# os.startswith("sle") #}

zypper --gpg-auto-import-keys refresh
zypper repos --details

{% if os == "sles-12-sp3" %}
zypper --non-interactive install --from storage-update --force python-base python-xml
zypper --non-interactive install --from update --force libncurses5 libncurses6
{% endif %}{# os == "sles-12-sp3" #}

{% set basic_pkgs_to_install = [
       'vim',
       'git-core',
       'iputils',
       'jq',
       'make',
       'iptables',
       'patch',
       'man',
       'command-not-found',
       'bc',
   ] %}
{% if os == 'sles-12-sp3' %}
zypper --non-interactive install {{ basic_pkgs_to_install | join(' ') }} ntp
{% else %}
zypper --non-interactive install {{ basic_pkgs_to_install | join(' ') }} chrony hostname
{% endif %}{# os == 'sles-12-sp3' #}

{% if os.startswith("sle") %}
{% set sle_pkgs_to_install = [
       'ca-certificates-suse',
       'supportutils',
   ] %}
zypper --non-interactive install {{ sle_pkgs_to_install | join(' ') }}
{% endif %}{# os.startswith("sle") #}

{% if os in ['leap-15.2', 'sles-15-sp2'] %}
# install rbd-nbd on all nodes: on SLE-15-SP2 it should be in the Base System
# module
zypper --non-interactive install rbd-nbd
{% endif %}{# os in ['leap-15.2', 'sles-15-sp2'] #}
