    {{ node.networks }}

    node.vm.hostname = "{{ node.name }}"

    node.vm.provider "libvirt" do |lv|
      lv.memory = {{ node.ram }}
      lv.cpus = {{ node.cpus }}
{% for disk in node.storage_disks %}
      lv.storage :file, size: "{{ disk.size }}G", type: 'qcow2', serial: "{{ range(1, 1000000) | random }}"
{% endfor %}
    end
