  config.vm.provider "libvirt" do |lv|
{% if libvirt_host %}
    lv.host = "{{ libvirt_host }}"
{% endif %}
{% if libvirt_user %}
    lv.username = "{{ libvirt_user }}"
{% endif %}
{% if libvirt_use_ssh %}
    lv.connect_via_ssh = {{ libvirt_use_ssh }}
{% endif %}
{% if libvirt_private_key_file %}
    lv.id_ssh_key_file = "{{ libvirt_private_key_file }}"
{% endif %}
    lv.qemu_use_session = false
{% if libvirt_storage_pool %}
    lv.storage_pool_name = "{{ libvirt_storage_pool }}"
{% endif %}
    lv.video_vram = 2048
    lv.nic_model_type = "e1000"
    lv.cpu_mode = 'host-passthrough'
  end
