
set -ex

# Compiling Ceph requires a number of "libfoo-devel" RPMs. These are typically
# shipped in a different SLE Module than their corresponding library RPMs.
# Sometimes, an update to a library RPM ("libfoo1") which is pre-installed 
# in the Vagrant Box built in the IBS reaches the Vagrant Box before the
# corresponding update to the "libfoo-devel" package reaches the IBS repos. This
# state, which can last for days or even weeks, typically causes install-deps.sh
# to fail on a zypper conflict.
#
# Possibly prophylactically downgrade libraries known to have caused this
# problem in the past:
#
zypper --non-interactive install --force libudev1 || true

useradd -m {{ makecheck_username }}
echo "{{ makecheck_username }} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
pam-config -a --nullok
passwd -d {{ makecheck_username }}
cat << 'EOF' > /root/.bashrc
#!/bin/bash
CLONE_DIR="/home/{{ makecheck_username }}/ceph"
if [ -d "$CLONE_DIR" ] ; then
    echo "ceph source code repo can be found in $CLONE_DIR"
fi
echo "Starting a login shell as user {{ makecheck_username }} ..."
su - {{ makecheck_username }}
EOF

{% if makecheck_stop_before_git_clone %}
exit 0
{% endif %}
{% if os == "sles-12-sp3" %}
su {{ makecheck_username }} -c 'git config --global http.sslVerify false'
{% endif %}
su {{ makecheck_username }} -c 'git clone --branch {{ makecheck_ceph_branch }} --progress {{ makecheck_ceph_repo }} /home/{{ makecheck_username }}/ceph'

{% if makecheck_stop_before_install_deps %}
exit 0
{% endif %}

su {{ makecheck_username }} -c 'cd /home/{{ makecheck_username }}/ceph ; sed -i -e "s/^set -e$/set -ex/" install-deps.sh ; FOR_MAKE_CHECK=true ./install-deps.sh'

{% if makecheck_stop_before_run_make_check %}
exit 0
{% endif %}
su {{ makecheck_username }} -c 'cd /home/{{ makecheck_username }}/ceph ; sed -i -e "s/^set -e$/set -ex/" run-make-check.sh ; ./run-make-check.sh'
