# salt/provision.sh.j2 (part of provision.sh.j2)

# deploy Salt, and then, Ceph or SUMA as required

{% include "salt/cluster_json.j2" %}

{% if deploy_salt %}
zypper --non-interactive install salt-minion
sed -i 's/^#master:.*/master: {{ master.name }}/g' /etc/salt/minion

# change salt log level to info
sed -i 's/^#log_level: warning/log_level: info/g' /etc/salt/minion

systemctl enable salt-minion
systemctl start salt-minion

{% endif %} {# deploy_salt #}

touch /tmp/ready

{% if node == master or node == suma %}

{% if node == master %}
zypper --non-interactive install salt-master
sed -i 's/^#log_level: warning/log_level: info/g' /etc/salt/master
systemctl enable salt-master
systemctl start salt-master
sleep 5
systemctl restart salt-minion
{% endif %} {# node == master #}

set +x
rm -f /tmp/ready-*
count="0"
max_count_we_tolerate="50"
echo "Waiting for {{ nodes | length }} nodes to complete initial provisioning..."
while true ; do
  count="$((count + 1))"
{% for node in nodes %}
  scp -o StrictHostKeyChecking=no {{ node.name }}:/tmp/ready /tmp/ready-{{ node.name }} || true
{% endfor %}
  PROVISIONED_NODES="$(find /tmp -maxdepth 1 -type f -regex '/tmp/ready-.*' | wc --lines)"
  echo "${PROVISIONED_NODES} of {{ nodes | length }} have completed initial provisioning."
  [ "${PROVISIONED_NODES}" = "{{ nodes|length }}" ] && break
  set -x
  sleep 5
  set +x
  if [ "$count" -gt "$max_count_we_tolerate" ] ; then
      echo "Looped too many times. Something is wrong. Bailing out!"
      exit 1
  fi
done
set -x

{% if node == master %}
set +x
echo "Waiting for {{ nodes | length }} minions to submit their keys..."
while true; do
  set -x
  salt-key -L
  set +x
  N=$(salt-key --out=json -L | jq '.minions_pre | length')
  echo "${N} of {{ nodes | length }} minions have submitted their keys."
  [ "$N" = "{{ nodes|length }}" ] && break
  set -x
  sleep 3
  set +x
done
set -x
salt-key -Ay

{% include "salt/wait_for_minions.j2" %}
{% endif %} {# node == master #}

# deploy ceph cluster via DeepSea
{% if deployment_tool == "deepsea" %}
{% if node == master %}
{% include "salt/deepsea/deepsea_deployment.sh.j2" %}
{% endif %} {# node == master #}
{% endif %} {# deployment_tool == "deepsea" #}

# deploy SUMA
{% if node == suma %}
{% include "salt/suma/suma_deployment.sh.j2" %}
{% endif %} {# node == suma #}

# deploy ceph cluster via ceph-salt and cephadm
{% if deployment_tool == "cephadm" %}
{% include "salt/ceph-salt/ceph_salt_deployment.sh.j2" %}
{% endif %} {# deployment_tool == "cephadm" #}

{% endif %} {# node == master or node == suma #}

