# salt/provision.sh.j2 (part of provision.sh.j2)

# deploy Salt

{% include "salt/cluster_json.j2" %}

{% if deploy_salt %}
zypper --non-interactive install salt-minion

# point minion at master
sed -i 's/^#master:.*/master: {{ master.name }}/g' /etc/salt/minion

# change salt log level to info
sed -i 's/^#log_level: warning/log_level: info/g' /etc/salt/minion

# remove comments and empty lines
sed -i -e '/^#/d' /etc/salt/minion
sed -i -e '/^\s*$/d' /etc/salt/minion

{% if version in ['octopus', 'ses7', 'pacific'] %}
cat >> /etc/salt/minion <<EOF
file_roots:
  base:
    - /usr/share/ceph-salt
pillar_roots:
  base:
    - /usr/share/ceph-salt
EOF
{% endif %}{# version in ['octopus', 'ses7', 'pacific'] #}

# dump /etc/salt/minion for the sake of the log
cat /etc/salt/minion

systemctl enable salt-minion
systemctl start salt-minion

{% endif %}{# deploy_salt #}

touch /tmp/ready

{% if node == master or node == suma %}

{% if node == master %}
zypper --non-interactive install salt-master
sed -i 's/^#log_level: warning/log_level: info/g' /etc/salt/master
sed -i -e '/^#/d' /etc/salt/master
sed -i -e '/^\s*$/d' /etc/salt/master
{% if version in ['octopus', 'ses7', 'pacific'] %}
cat >> /etc/salt/master <<EOF
file_roots:
  base:
    - /usr/share/ceph-salt
pillar_roots:
  base:
    - /usr/share/ceph-salt
EOF
{% endif %}{# version in ['octopus', 'ses7', 'pacific'] #}

# dump /etc/salt/master for the sake of the log
cat /etc/salt/master

systemctl enable salt-master
systemctl start salt-master
sleep 5
systemctl restart salt-minion
{% endif %}{# node == master #}

set +x
rm -f /tmp/ready-*
count="0"
max_count_we_tolerate="50"
echo "Waiting for {{ nodes | length }} nodes to complete initial provisioning..."
while true ; do
  count="$((count + 1))"
{% for node in nodes %}
  scp -o StrictHostKeyChecking=no {{ node.name }}:/tmp/ready /tmp/ready-{{ node.name }} || true
{% endfor %}
  PROVISIONED_NODES="$(find /tmp -maxdepth 1 -type f -regex '/tmp/ready-.*' | wc --lines)"
  echo "${PROVISIONED_NODES} of {{ nodes | length }} have completed initial provisioning."
  [ "${PROVISIONED_NODES}" = "{{ nodes|length }}" ] && break
  set -x
  sleep 5
  set +x
  if [ "$count" -gt "$max_count_we_tolerate" ] ; then
      echo "Looped too many times. Something is wrong. Bailing out!"
      false
  fi
done
set -x

{% if ipv6 %}
IPV6_CMD="ip -6 addr | grep 'scope global dynamic mngtmpaddr' | sed -e 's/.*inet6 \(.*\)\/.*/\1/'"
{% for _node in nodes %}
{% if _node == node %}
IPV6_HOST="$(bash -c "$IPV6_CMD") {{ _node.fqdn }} {{ _node.name }}"
{% else %}
IPV6_HOST="$(ssh {{ _node.name }} $IPV6_CMD) {{ _node.fqdn }} {{ _node.name }}"
{% endif %}{# _node == node #}
{% for __node in nodes %}
{% if __node == node %}
echo $IPV6_HOST >> /etc/hosts
{% else %}
ssh {{ __node.name }} "echo \"$IPV6_HOST\" >> /etc/hosts"
{% endif %}{# _node == node #}
{% endfor %}
{% endfor %}
{% endif %}{# ipv6 #}

{% if node == master %}
set +x
echo "Waiting for {{ nodes | length }} minions to submit their keys..."
while true; do
  set -x
  salt-key -L
  set +x
  N=$(salt-key --out=json -L | jq '.minions_pre | length')
  echo "${N} of {{ nodes | length }} minions have submitted their keys."
  [ "$N" = "{{ nodes|length }}" ] && break
  set -x
  sleep 3
  set +x
done
set -x
salt-key -Ay

{% include "salt/wait_for_minions.j2" %}
{% endif %}{# node == master #}

{% endif %}{# node == master or node == suma #}
