cluster-ceph/cluster/*.sls
config/stack/default/global.yml
config/stack/default/ceph/cluster.yml

profile-default/cluster/*.sls
profile-default/stack/default/ceph/minions/*yml

{% for node in nodes: %}

{% if node.has_role('mon') %}
role-mon/cluster/{{ node.name }}*.sls
role-mon/stack/default/ceph/minions/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('admin') %}
role-admin/cluster/{{ node.name }}*.sls
role-master/cluster/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('mgr') %}
role-mgr/cluster/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('mds') %}
role-mds/cluster/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('rgw') %}
role-rgw/cluster/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('igw') %}
role-igw/cluster/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('ganesha') %}
role-ganesha/cluster/{{ node.name }}*.sls
{% endif %}

{% if node.has_role('openattic') %}
role-openattic/cluster/{{ node.name }}*.sls
{% endif %}


{% endfor %}
