# generate fstab
if [ ! -e /etc/fstab ]; then
    disk=`lsblk -p -n -r -o NAME,MOUNTPOINT | grep -E "/$" | uniq | cut -f1 -d" "`
    uuid=`blkid -d $disk -o export | grep ^UUID`
    partial=`grep "$disk" /etc/mtab | sed 's/.\\+ \\//\\//g'`
    echo "$uuid $partial" > /etc/fstab
fi

zypper -n install ntp SuSEfirewall2
SuSEfirewall2 off

systemctl enable ntpd
cat > /etc/ntp.conf <<EOF
server 0.europe.pool.ntp.org
server 1.europe.pool.ntp.org
server 2.europe.pool.ntp.org
EOF
ntpd -gq
systemctl start ntpd
ntpq -p

sed -i 's/#worker_threads: 5/worker_threads: 10/g' /etc/salt/master
systemctl restart salt-master
systemctl restart salt-minion

# make sure all minions are responding
set +ex
LOOP_COUNT="0"
while true ; do
  set -x
  sleep 5
  set +x
  if [ "$LOOP_COUNT" -ge "20" ] ; then
    echo "ERROR: minion(s) not responding to ping?"
    exit 1
  fi
  LOOP_COUNT="$((LOOP_COUNT + 1))"
  set -x
  MINIONS_RESPONDING="$(salt '*' test.ping | grep True | wc --lines)"
  if [ "$MINIONS_RESPONDING" = "{{ nodes|length }}" ]; then
    break
  fi
  set +x
done
set -ex

cat > /srv/salt/ceph/updates/nop.sls <<EOF
dummy command:
  test.nop
EOF
cp /srv/salt/ceph/updates/nop.sls /srv/salt/ceph/updates/restart

echo "updates_init: nop" >> /srv/pillar/ceph/stack/global.yml

echo "updates_restart: nop" >> /srv/pillar/ceph/stack/global.yml

# cp /srv/salt/ceph/updates/default_my.sls /srv/salt/ceph/time
# sed -i 's/default/default_my/g' /srv/salt/ceph/time/init.sls

cat > /root/mds-get-name.patch <<EOF
--- /srv/salt/_modules/mds.py
+++ /srv/salt/_modules/mds.py
@@ -17,6 +17,6 @@ def get_name(host):
     MDS names must not start with a digit, so filter those out and prefix them
     with "mds.".
     """
-    if host[0].isdigit():
+    if host[0].isdigit() or host == 'admin':
         return 'mds.{}'.format(host)
     return host
EOF

pushd /
patch -p0 < /root/mds-get-name.patch
popd

{% if num_osds < 6 %}
# we need to increase the number of max pg per osd for deepsea to work
# correctly with this number of OSDs
echo "mon_max_pg_per_osd = 500" >> /srv/salt/ceph/configuration/files/ceph.conf.d/global.conf
{% endif %}

{% for node in nodes: %}
{% if node.has_role('rgw') and node.has_role('openattic') %}
# we need to change RGW port to not conflict with openATTIC port
sed -i 's/port=80"/port=8080"/g' /srv/salt/ceph/configuration/files/rgw.conf
sed -i 's/port=443s/port=8443s/g' /srv/salt/ceph/configuration/files/rgw-ssl.conf
{% endif %}
{% endfor %}
