cat > /srv/salt/ceph/updates/nop.sls <<EOF
dummy command:
  test.nop
EOF
cp /srv/salt/ceph/updates/nop.sls /srv/salt/ceph/updates/restart

echo "updates_init: nop" >> /srv/pillar/ceph/stack/global.yml

echo "updates_restart: nop" >> /srv/pillar/ceph/stack/global.yml

# cp /srv/salt/ceph/updates/default_my.sls /srv/salt/ceph/time
# sed -i 's/default/default_my/g' /srv/salt/ceph/time/init.sls
