cat > /srv/salt/ceph/updates/nop.sls <<EOF
dummy command:
  test.nop
EOF
cp /srv/salt/ceph/updates/nop.sls /srv/salt/ceph/updates/restart

echo "updates_init: nop" >> /srv/pillar/ceph/stack/global.yml

echo "updates_restart: nop" >> /srv/pillar/ceph/stack/global.yml
